{% extends 'base_content.html' %} {% block heading %} Bem-vindo {# . #}
{%endblock heading %} {% block inner_fieldset %}
<legend>Formulário para acessar a conta de usuário:</legend>
<div class="pure-u-1 pure-u-md-1 center jus-cont-spa-b">
  <button
    type="submit"
    class="pure-button"
    id="btnSignin"
    aria-label="Entrar na conta."
  >
    Entrar
  </button>
  <a href="{% url 'core:index' %}" class="pure-button">Voltar</a>
</div>
{% endblock inner_fieldset %} {% block outer_fielset %}
<p class="p-login">
  Não é cadastrado?
  <a href="{% url 'accounts:register' %}" class="simple-link">Cadastre-se</a>
  <br />
  Esqueceu a senha?
  <a href="{% url 'accounts:password_reset' %}" class="simple-link"
    >Nova senha</a
  >
</p>
{% endblock outer_fielset %}
