{% extends 'base_content.html' %} {% block heading %} Informe o seu e-mail
cadastrado {% endblock heading %} {% block form_content %} {% if success %}
<div class="pure-u-1 pure-u-md-1 form-success">
  <div class="bar success">O e-mail foi enviado com sucesso!</div>
  <br />
  <a href="{% url 'core:index' %}" class="pure-button">Voltar</a>
</div>
{% else %} {{ block.super }} {% endif %} {% endblock form_content %} {# ... #}
{% block inner_fieldset %}
<legend>Formulário para informar o e-mail de usuário:</legend>
<div class="pure-u-1 pure-u-md-1 center jus-cont-spa-b">
  <button
    type="submit"
    class="pure-button"
    aria-label="Enviar e-mail para alteração de senha."
  >
    Enviar
  </button>
  <a href="{% url 'core:login' %}" class="pure-button">Voltar</a>
</div>
{% endblock inner_fieldset %}
