@charset "utf-8";
/* 
Deafult size design is larger than 62rem width
*/
* {
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  line-height: 1.7em;
  color: #7f8c8d;
  font-size: 1em;
  background: #000000;
  margin: 0;
}
#header {
  background: #1c2833;
  -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}
#header a {
  font-size: 120%;
  color: #f5f5f5;
  outline: none;
}
#header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
#header li {
  float: left;
}
#header li a {
  display: block;
  border-right: 1px solid #142f47;
  text-decoration: none;
  padding: 0.938rem 1.875rem;
}
#header li a::first-letter {
  font-size: 120%;
  letter-spacing: 0.1rem;
  color: #66E0FF;
  font-weight: bold;
}
#header a:focus,
#header a:hover {
  background: #0e151b;
}
#header .menu-btn:focus ~ .menu-icon,
#header .menu-icon:hover {
  background: #0e151b;
  padding: 1.75rem 1.25rem 1.75rem 1.625rem;
  border-bottom: 2px solid #00ccff;
}
#header li a:focus,
#header li a:hover {
  background: #0e151b;
  padding: 0.938rem 1.875rem 0.938rem 1.75rem;
  border-bottom: 2px solid #00ccff;
}
#header .logo {
  display: block;
  float: left;
  font-size: 205%;
  padding: 1rem 0.8rem;
  text-decoration: none;
}
#header .logo:focus,
#header .logo:hover {
  -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0, 204, 255, 0.75);
  box-shadow: inset 0px 0px 5px 2px rgba(0, 204, 255, 0.75);
}
#header .menu {
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  float: right;
  max-height: none;
}
#header .menu-icon {
  cursor: pointer;
  display: none;
  float: right;
  padding: 1.75rem 1.25rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#header .menu-icon #navicon {
  background: #f5f5f5;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  width: 18px;
}
#header .menu-icon #navicon:before,
#header .menu-icon #navicon:after {
  background: #f5f5f5;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
}
#header .menu-icon #navicon:before {
  top: 5px;
}
#header .menu-icon #navicon:after {
  top: -5px;
}
#header .menu-btn {
  display: none;
}
#header .menu-btn:checked ~ .menu {
  max-height: -moz-fit-content;
  max-height: fit-content;
}
#header .menu-btn:checked ~ .menu-icon #navicon {
  background: transparent;
}
#header .menu-btn:checked ~ .menu-icon #navicon:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#header .menu-btn:checked ~ .menu-icon #navicon:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#header .menu-btn:checked ~ .menu-icon:not(.steps) #navicon:before,
#header .menu-btn:checked ~ .menu-icon:not(.steps) #navicon:after {
  top: 0;
}
h1,
h2,
h3,
label {
  color: #34495e;
}
input,
textarea {
  color: #703e00;
}
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}
.l-box,
.padding-all {
  padding: 1em;
}
.l-box p,
.about,
.p-login {
  color: #2d3e50;
}
/* .about {
  text-align: justify;
} */
.l-box h3 {
  /* color: #1f8dd6; */
  color: #0f71b3;
}
.l-box i {
  margin-right: 0.52em;
}
.success {
  background: #27810c;
  -webkit-box-shadow: inset 0em 0em 0em 0.15em #33ff00;
  box-shadow: inset 0em 0em 0em 0.15em #33ff00;
}
.bar,
ul.errorlist li {
  padding: 0.2rem 0.5rem;
  border-radius: 0.4rem;
  color: #eaffe4;
}
.space-around {
  /* margin: 0.5rem 1.5rem; */
  margin: 0.5rem 2.4rem;
}
.warn {
  color: #5e5700;
  border-radius: 0.5rem;
  background: #fff79b;
  -webkit-box-shadow: inset 0em 0em 0em 0.15em #ffff00;
  box-shadow: inset 0em 0em 0em 0.15em #ffff00;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0.4rem 1rem;
}
.warn ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.warn li {
  text-align: center;
  padding: 0.1rem 0;
  border-bottom: 1px solid #dddddd;
}
.warn li:last-child {
  border-bottom: none;
}
ul.errorlist {
  margin: 0;
  padding: 0;
}
ul.errorlist li {
  background: #7a1111;
  -webkit-box-shadow: inset 0em 0em 0em 0.15em #ff0000;
  box-shadow: inset 0em 0em 0em 0.15em #ff0000;
  display: block;
  text-align: justify;
}
form.pure-form-aligned ul.errorlist li {
  padding-left: 11.5em;
}
.pure-form label {
  margin: 1em 0 0;
  font-weight: bold;
  font-size: 100%;
}
.pure-form input[type],
.pure-form textarea {
  border: 2px solid #ddd;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 100%;
  width: 100%;
  max-width: 350px;
  margin-bottom: 0.3em;
}
.pure-form textarea {
  max-width: 450px;
}
.pure-form .pure-control-group {
  margin-bottom: 1em;
}
.form-space {
  min-width: 17rem;
}
.pure-button {
  background-color: #0f71b3;
  color: #ffffff;
  padding: 0.5em 1em;
  border-radius: 5px;
  text-shadow: 0 0 5px #000000;
}
.pure-button:focus,
.pure-button:hover {
  background-color: #003355;
  border: 0.06em solid #00ccff;
  padding: 0.44em 0.94em;
}
.pure-button-alt {
  font-size: 120%;
  background-color: #0f71b3;
}
.splash-container {
  background: #2d3e50;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 95%;
  top: 0;
  left: 0;
  position: fixed !important;
}
.splash {
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 1rem;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}
.splash-head {
  font-size: 300%;
  font-weight: bold;
  color: #ffffff;
  border: 3px solid #ffffff;
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
}
.splash-subhead {
  color: #ffffff;
  letter-spacing: 0.05em;
  opacity: 0.8;
  text-shadow: 0 0 4px #000000;
}
.content-wrapper {
  position: absolute;
  top: 87%;
  width: 100%;
  min-height: 5%;
  z-index: 2;
  background: #ffffff;
  margin: 2rem 0;
}
.content-info {
  padding: 1em 1em 3em;
  background: #e5e8e8;
}
.content-contact {
  padding: 1em 1em 4em;
}
.content-header,
.content-header-alt {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0 0 1em;
  text-align: center;
}
.content-header-alt {
  margin: 0;
}
.content-subheader {
  color: #34495e;
  font-size: 125%;
  margin: 0 2rem;
}
h2.content-header {
  margin: 2em 0 1em;
}
.ribbon {
  background: #2d3e50;
  color: #e5e7e9;
  text-align: center;
  padding: 4rem 1rem 2rem;
}
.ribbon h2,
.ribbon h1 {
  color: #ffffff;
}
footer {
  /* background: #111; */
  background: #131a22;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
  color: #f5f5f5;
}
.user-message-field span,
.bot-message-field span {
  color: #f5f5f5;
  margin-bottom: 0.3rem;
  padding: 0.6%;
  border-radius: 0.4rem;
  font-family: Verdana;
  display: inline-block;
  max-width: 80%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.user-message-field span {
  border-bottom: 1.4px solid #ff7300;
}
.bot-message-field span {
  border-bottom: 1.4px solid #00a2ff;
}
.user-message-field {
  text-align: right;
  margin-left: 20%;
}
.bot-message-field {
  text-align: left;
  margin-right: 30%;
}
.btnVolumeUp {
  padding: 0;
  margin: 0.3rem 0.3rem 0 0;
  background: none;
  border: none;
  display: inline-block;
  color: #ffffff;
  vertical-align: top;
}
#messageField {
  width: 95%;
  font-size: 150%;
  border-radius: 2rem;
  border-width: 0px;
  padding: 1%;
  margin-right: 0.2rem;
  background-color: #d8d8d8;
  color: #000000;
  vertical-align: middle;
}
#messageField:focus {
  outline: none;
  -webkit-box-shadow: inset 0px 0px 0.5px 3px #ff7300;
  box-shadow: inset 0px 0px 0.5px 3px #ff7300;
}
#messageField::-webkit-input-placeholder {
  color: #000127;
}
.send-msg-button {
  background: none;
  color: #eeff00;
  border: none;
  margin-bottom: 0.6rem;
}
.send-msg-button:focus,
.send-msg-button:hover,
.btnVolumeUp:focus,
.btnVolumeUp:hover {
  outline: none;
  color: #00ff00;
}
.send-msg-button:focus,
.send-msg-button:hover {
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.send-msg-button:active {
  color: #086100;
}
.chat-view {
  padding: 4.4rem 0;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 100%;
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
}
article {
  overflow-y: auto;
  overflow-x: hidden;
  border-left-color: #008000;
}
.inner-chat-view {
  width: 85%;
  height: 80%;
  position: absolute;
  /* background: #70cce7; */
  background: #000000;
  border-radius: 0.5rem;
  border-bottom-left-radius: 2.6rem;
  border-bottom-right-radius: 2.6rem;
  overflow: hidden;
}
.chat-header {
  background: #1c2833;
  color: #f5f5f5;
  padding: 0.3rem 1rem 0.2rem;
  font-size: 150%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.chat-header a {
  padding-left: 0.5rem;
  outline: none;
}
.chat-header a:nth-child(1) {
  font-size: 85%;
}
.chat-header a:nth-child(2) {
  font-size: 115%;
}
.chat-header a:nth-child(3) {
  font-size: 150%;
}
.chat-header a:focus,
.chat-header a:hover {
  color: #00ff00;
}
.selected {
  color: #ffd900;
  text-decoration: underline;
}
.not-selected {
  color: #f5f5f5;
  text-decoration: none;
}
.font-size-smaller {
  font-size: 90%;
}
.font-size-default {
  font-size: 120%;
}
.font-size-larger {
  font-size: 150%;
}
.simple-link {
  color: #0000ff;
  text-decoration: none;
}
.simple-link:hover {
  color: #008000;
}
.simple-link:active {
  color: #775c00;
}
.scrollbar-style::-webkit-scrollbar {
  width: 0.85em;
}
.scrollbar-style::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 0.5em;
  -webkit-box-shadow: inset 0.1em 0em 0.2em #000000;
  box-shadow: inset 0.1em 0em 0.2em #000000;
}
.scrollbar-style::-webkit-scrollbar-track-piece {
  -webkit-box-shadow: inset 0 0 0.4em #000000;
  box-shadow: inset 0 0 0.4em #000000;
  background-color: #1c2833;
}
.ss2::-webkit-scrollbar-track-piece {
  -webkit-box-shadow: inset -0.4em 0 0.5em 0 #1c2833;
  box-shadow: inset -0.4em 0 0.5em 0 #1c2833;
  background-color: #000000;
}
#header .menu-btn,
.hidden,
fieldset legend {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}
.about {
  padding-right: 0;
}
.center,
#inputs {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.center {
  flex-wrap: wrap;
}
.user-panel,
.inner-chat-view,
.form-success,
.content-form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
#chat {
  height: 100%;
}
#inputs {
  padding: 0.2rem 2% 0.14rem;
  flex-wrap: nowrap;
}
.center,
#inputs,
.chat-view,
.content-form {
  -webkit-box-pack: center;
  justify-content: center;
}
.chat-header,
.center,
#inputs,
.content-form {
  align-content: center;
}
.jus-cont-spa-a {
  justify-content: space-around;
}
.jus-cont-spa-b,
.chat-header {
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.user-panel {
  margin: 0 auto;
  padding-top: 2rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-width: 25rem;
}
.user-panel fieldset {
  text-align: center;
  color: #1c2833;
}
.user-panel fieldset legend {
  text-align: left;
  color: #000000;
}
.user-panel a {
  margin-top: 1rem;
}
.form-success,
.content-form {
  -webkit-box-align: center;
  align-items: center;
}
.content-form {
  /* padding: 3rem 0 6.5rem; */
  background: #e5e8e8;
  padding: 4.4rem 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 100%;
}
.error-page,
.accessibility {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 110%;
}
.accessibility {
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 3.7rem 0 3.7rem 1.5rem;
  background: #ffffff;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
}
.accessibility div {
  overflow-y: auto;
}
.accessibility h1 {
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0.1em;
  padding-right: 1.5rem;
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}
.together {
  white-space: nowrap;
}
.accessibility h2 {
  margin: 1rem 0;
  padding-right: 1.5rem;
}
.accessibility p {
  margin: 0 0 0.5rem;
  padding-right: 1.5rem;
  color: #000000;
}
.accessibility ul {
  color: #000000;
  padding: 0 1.5rem 0 2rem;
  margin: 0;
}
@media (max-width: 62rem) {
  .splash-head {
    font-size: 250%;
  }
  #header li {
    float: none;
  }
  #header li a {
    padding: 13px 20px;
    text-align: right;
    border-bottom: 1px solid #112435;
  }
  #header .menu {
    clear: both;
    float: none;
    max-height: 0;
  }
  #header .menu-btn {
    display: inline;
  }
  #header .menu-icon {
    display: inline-block;
  }
}
@media (max-width: 48rem) {
  .splash-head {
    font-size: 200%;
  }
  .scrollbar-style::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-style {
    -ms-overflow-style: none;
  }
  #header .logo {
    font-size: 190%;
  }
  .chat-header {
    font-size: 130%;
  }
  .content-header,
  .content-header-alt {
    font-size: 150%;
  }
  h1.content-header,
  .content-header-alt {
    font-size: 160%;
  }
  .content-subheader {
    font-size: 110%;
  }
  .accessibility h1 {
    font-size: 170%;
  }
  .inner-chat-view {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
  #messageField {
    font-size: 140%;
    padding: 1.3%;
  }
}
@media (max-width: 36rem) {
  .splash {
    height: 40%;
  }
  .accessibility h1 {
    font-size: 150%;
  }
  .accessibility h2 {
    font-size: 130%;
  }
  .splash-head {
    font-size: 170%;
    padding: 1em 0.5em;
  }
  .splash-subhead {
    font-size: 80%;
  }
  .content-header,
  .content-header-alt {
    font-size: 140%;
    font-weight: 550;
  }
  h1.content-header,
  .content-header-alt {
    font-size: 120%;
    font-weight: 550;
  }
  .content-subheader {
    font-size: 100%;
  }
  .mobile {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
  }
  .chat-view {
    padding: 4.4rem 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .inner-chat-view {
    width: 100%;
    height: 89.5%;
  }
  .font-size-smaller {
    font-size: 70%;
  }
  .font-size-default {
    font-size: 100%;
  }
  .font-size-larger {
    font-size: 125%;
  }
  #messageField {
    font-size: 130%;
    padding: 2%;
  }
  footer {
    padding: 0.4rem;
    font-size: 85%;
  }
  #header .logo {
    font-size: 160%;
  }
  #header a {
    font-size: 110%;
  }
  .inner-chat-view {
    border-bottom-left-radius: 1.8rem;
    border-bottom-right-radius: 1.8rem;
  }
}
@media (max-width: 30rem) {
  .pure-button {
    margin-top: 0.7rem;
  }
}
